.container{
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50pt;
    gap: 10px;
}

.home-menu button {
    width: 140px;
    height: 140px;
    display: flex;
    background-repeat: no-repeat;
    background-color: transparent; 
    background-size: contain;
    cursor: pointer;
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}

.reflect-button {
    align-items: center;
    margin: 0 auto;
    background-size: 110%;;
    background-image: url(../../img/planets/earth-text.png);
}

.reflect-button:hover {
    transform: scale(1.1);
}

.project-button {
    margin-right: auto;
    margin-left: 20pt;
    align-items: center;
    background-position: 50% 50%;
    background-image: url(../../img/planets/jupiter-text.png);
}

.project-button:hover {
    transform: scale(1.1); 
}

.month-schedule-button {
    align-items: center;
    margin-right: 10pt;
    margin-left: auto;
    background-size: 110%; 
    background-image: url(../../img/planets/neptune-text.png);
}

.month-schedule-button:hover {
    transform: scale(1.1);
}

.home-button-container {
    width: 300px;
    height: 220px;
    cursor: pointer;
    margin-left: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(180deg);
    width: 220px;
    height: 220px;
}

.width{
    width: 85%;
}

.checkbox{
    background-color: lightgreen;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 95%;
    top: -30px;
    background-position: 50% 50%;
    border-radius: 50%;
    cursor: pointer;
}

.listbox{
    /* background-color: ; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
    top: 30px;
    background-position: 50% 50%;
    border-radius: 50%;
    cursor: pointer;
}

ul li.checked {
    color: lightgray;
    text-decoration: line-through;
}

html{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/mars.svg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow-x: hidden; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.submit:active {
    background-color: #004494;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: scale(1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="datetime-local"], textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.modal-title {
    text-align: center;
}

.main-container {
    display: flex;
    margin-right: 2%;
    flex-direction: row-reverse;
    width: 100%;
}

.add_button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin-left: 17%; */
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.add_button:hover, .remove_button:hover {
    background-color: #B58B00;
    color: white;
    border-color: #B58B00;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px; /* Add a gap between the button container and the projects container */
    width: 40%;
}

.todo-list{
    background-color: rgba(243, 220, 214, 0.5);
    border-radius: 0.5rem;
}

input{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-left: 6%;
}
