/*Media Queries: Define CSS rules based on screen width
@media (max-width: 599px) {
    :root {
        --font_size: 6px;
    }
  }
  @media (min-width: 600px) and (max-width: 1023px) {
    :root {
        --font_size: 8px;
    }
  }
  
  @media (min-width: 1024px) {
    :root {
        --font_size: 10px;
    }
  }
*/

#spaceVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
}

.home-menu button {
    width: calc(10vh + 4vw);
    height: calc(10vh + 4vw);
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.home-menu button:hover { 
    width: calc(5vh + 10vw);
    height: calc(5vh + 10vw);
    background-size: 130%;  
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.spaceship {
    width: calc(8vh + 5vw);
    height: calc(8vh + 5vw);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
    right: 0;
    bottom: 0;
    left: 45vw;
    transform: rotate(300deg);
    animation: spin 5s linear infinite;
}

.reflect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    right: 0;
    bottom: 0;
    left: 45vw;
    transform: translate(-50%, -50%);
    background-position: 50% 50%;
    background-image: url(../../img/planets/earth-text.png);
    background-size: 120%;
}

.day-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 72vh;
    right: 0;
    bottom: 0;
    left: 45vw;
    transform: translate(-50%, -50%);
    background-position: 50% 50%;
    background-image: url(../../img/planets/mars-text.png);
    background-size: 120%;
}

.month-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
    right: 0;
    bottom: 0;
    left: 23vw;
    transform: translate(-50%, -50%);
    background-position: 50% 50%;
    background-image: url(../../img/planets/neptune-text.png);
    background-size: 120%;
}

.project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
    right: 0;
    bottom: 0;
    left: 65vw;
    transform: translate(-50%, -50%);
    background-position: 50% 50%;
    background-image: url(../../img/planets/jupiter-text.png);
    background-size: 120%;
}