html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/src/image/background.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}