table {
    width: 75%;
    border-collapse: collapse;
    height: 500px;
    margin-right: 10%;
    margin-left: auto;
    background-color: #F4F7FE;
}
  
th {
    border: 5px solid #156359c0;
    text-align: center;
    padding: 8px;
    width: 14.27%;
    height: 100%;
}

td {
    border: 5px solid #156359c0;
    vertical-align: text-top;
    text-align: left;
    padding: 8px;
}
  
/* th {
    background-color: #f2f2f2;
} */
  
caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 150pt;
}

.home-menu button {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-top: 20px;
    background-color: transparent; 
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border: 2px solid black;
}

.reflect-button {
    margin: 0 auto;
    align-items: center;
}

.reflect-button:hover {
    width: 110px;
    height: 110px;
    background-size: 130%;    
}

.day-schedule-button {
    margin-right: 10pt;
    margin-left: auto;
    align-items: center;
}

.day-schedule-button:hover {
    width: 110px;
    height: 110px;
    background-size: 110%;    
}

.project-button {
    margin-right: auto;
    margin-left: 20pt;
    align-items: center;
}

.project-button:hover {
    width: 110px;
    height: 110px;
    background-size: 110%;    
}

.home-button-container {
    width: 300px;
    height: 220px;
    background-color: transparent; 
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container:hover {
    /* background-color: #45a049; */
    color: white; 
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(360deg);
}

.home-button-container .spaceship {
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container .home-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.home-button-container:hover .home-text {
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column-reverse;
}

.calendar {
    display: flex;
    margin-right: 2%;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: row-reverse;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 15%;
    padding: 20px;
    background-color: #4bc0d4;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.top span {
    font-size: 16px;
}

.calendar-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#year, #month {
    width: 100px;
    height: 30px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5pt;
}

#year:hover, #month:hover {
    border-color: teal;
}

.float {
    display: block;
    width: 50px;
    float: left;
}

.event {
    display: block;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

.event .tooltip {
    display: none;
    position: absolute;
    background-color: #4e4a4a;
    font-size: medium;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    top: 50%;
    left: -110%; /* Adjust to the left side of eventDiv */
    transform: translateY(-50%);
    z-index: 10; /* Make sure the tooltip is displayed on top */
}

.event:hover .tooltip {
    display: block;
}