/*Calendar Table Styling*/
table {
    width: 75%;
    border-collapse: collapse;
    height: 500px;
    margin-right: 10%;
    margin-left: auto;
    background-color: transparent;
}
  
th {
    border: 2px solid #156359c0;
    text-align: center;
    padding: 8px;
    width: 14.27%;
    height: 100%;
}

td {
    border: 2px solid #156359c0;
    vertical-align: text-top;
    text-align: left;
    padding: 8px;
    height: 50px;
    background-color: whitesmoke;
}
  
caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
.home-menu button {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-top: 20px;
    background-color: transparent; 
    color: black;
    font-size: 16px;
}

/*Home Menu Styling*/
.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50pt;
}

.home-menu button {    
    width: 140px;
    height: 140px;
    display: flex;
    border: none;
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /*Smooth transition for scaling*/
}

.reflect-button {
    align-items: center;
    margin: 0 auto;
    background-size: 110%;;
    background-image: url(../../img/planets/earth-text.png);
}

.reflect-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

.day-schedule-button {
    align-items: center;
    margin-right: 10pt;
    margin-left: auto;
    background-size: 110%; 
    background-image: url(../../img/planets/mars-text.png);
}

.day-schedule-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

.project-button {
    margin-right: auto;
    margin-left: 20pt;
    align-items: center;
    background-position: 50% 50%;
    background-image: url(../../img/planets/jupiter-text.png);
}

.project-button:hover {
    transform: scale(1.1); /*Scale button on hover*/  
}

/*Home Button Styling*/
.home-button-container {
    width: 300px;
    height: 220px;
    cursor: pointer;
    margin-left: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container:hover .spaceship{
    filter: hue-rotate(180deg);
    width: 220px;
    height: 220px;
}

.home-button-container:hover .home-text {
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column-reverse;
}

.calendar {
    display: flex;
    margin-right: 2%;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: row-reverse;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 15%;
    padding: 20px;
    background-color: #4bc0d4;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.top span {
    font-size: 16px;
}

.calendar-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#year, #month {
    width: 100px;
    height: 30px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5pt;
}

#year:hover, #month:hover {
    border-color: teal;
}

.float {
    display: block;
    width: 50px;
    float: left;
}

.event {
    display: block;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

.event .tooltip {
    display: none;
    position: absolute;
    background-color: #4e4a4a;
    font-size: medium;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    top: 50%;
    left: -110%; /* Adjust to the left side of eventDiv */
    transform: translateY(-50%);
    z-index: 10; /* Make sure the tooltip is displayed on top */
}

.event:hover .tooltip {
    display: block;
}

html{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/bg2.jpg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow-x: hidden;
}