table {
    width: 75%;
    border-collapse: collapse;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 360px;
}
  
th {
    border: 5px solid black;
    text-align: center;
    padding: 8px;
}

td {
    border: 5px solid black;
    vertical-align: text-top;
    text-align: left;
    padding: 8px;
}
  
/* th {
    background-color: #f2f2f2;
} */
  
caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
.home-menu button {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin: 20px;
    background-color: transparent; 
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border: 2px solid black;
}

.reflect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 200px;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_earth.png);
}

.reflect-button:hover {
    width: 110px;
    height: 110px;
    background-size: 130%;    
}

.day-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 120px;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_mars.png);
}

.day-schedule-button:hover {
    width: 110px;
    height: 110px;
    background-size: 110%;    
}

.project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    right: 0;
    bottom: 0;
    left: 50px;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_jupiter.png);
}

.project-button:hover {
    width: 110px;
    height: 110px;
    background-size: 110%;    
}

.home-button-container {
    width: 200px;
    height: 200px;
    background-color: transparent; 
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
    right: 0;
    bottom: 0;
    left: 180px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container:hover {
    /* background-color: #45a049; */
    color: white; 
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(360deg);
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.home-button-container:hover .home-text {
    color: white;
}