@media (max-width: 599px) {
    :root {
        --font_size: 10px;
    }
  }
  @media (min-width: 600px) and (max-width: 1023px) {
    :root {
        --font_size: 12px;
    }
  }
  
  @media (min-width: 1024px) {
    :root {
        --font_size: 16px;
    }
  }

table {
    width: 78%;
    border-collapse: collapse;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
    right: 2vw;
    bottom: 0;
    /*left: 360px;*/
}
  
th {
    border: 5px solid black;
    text-align: center;
    padding: 8px;
}

td {
    border: 5px solid black;
    vertical-align: text-top;
    text-align: left;
    padding: 8px;
}
  
/* th {
    background-color: #f2f2f2;
} */
  
caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
.home-menu button {
    width: calc(2vh + 5vw);
    height: calc(2vh + 5vw);
    border-radius: 50%; 
    margin: 20px;
    background-color: transparent; 
    color: black;
    font-size: var(--font_size);
    cursor: pointer;
    border: none;
    border: 2px solid black;
}

.reflect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    right: 0;
    bottom: 0;
    left: 9.5vw;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_earth.png);
    background-size: 120%;
}

.reflect-button:hover {
    width: calc(2vh + 8vw);
    height: calc(2vh + 8vw);
    background-size: 130%;    
}

.day-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54vh;
    right: 0;
    bottom: 0;
    left: 4vw;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_mars.png);
    background-size: 120%;
}

.day-schedule-button:hover {
    width: calc(2vh + 8vw);
    height: calc(2vh + 8vw);
    background-size: 130%;     
}

.project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70vh;
    right: 0;
    bottom: 0;
    left: 2vw;
    background-position: 50% 50%;
    background-image: url(../../img/planets/small_jupiter.png);
    background-size: 120%;
}

.project-button:hover {
    width: calc(2vh + 8vw);
    height: calc(2vh + 8vw);
    background-size: 130%;    
}

.home-button-container {
    width: 200px;
    height: 200px;
    background-color: transparent; 
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 78vh;
    right: 0;
    bottom: 0;
    left: 2vw;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container:hover {
    /* background-color: #45a049; */
    color: white; 
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(360deg);
}

.home-button-container .spaceship {
    width: calc(3vh + 6vw);
    height: calc(3vh + 6vw);
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: var(--font_size);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.home-button-container:hover .home-text {
    color: white;
}