/* project tracker */
.project-tracker {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.project-count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blurred background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-tracker h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    width: 100%;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.projects {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column-reverse; /* Ensures projects are added at the bottom */
    overflow-y: auto; /* Make the project list scrollable */
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-height: 500px; /* Set a max height to the projects container */
    box-sizing: border-box;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    backdrop-filter: blur(10px); /* Blurred background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.project-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%; /* Make the input take up remaining space */
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    box-sizing: border-box;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"].progress-bar {
    background: linear-gradient(to right, red, yellow, green);
}

.add_button, .remove_button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin-left: 17%; */
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.add_button:hover, .remove_button:hover {
    background-color: #B58B00;
    color: white;
    border-color: #B58B00;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px; /* Add a gap between the button container and the projects container */
    width: 100%;
}

/*Home Menu Styling*/
.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50pt;
}

.home-menu button {    
    width: 140px;
    height: 140px;
    display: flex;
    margin-top: 20px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /*Smooth transition for scaling*/
}

.day-schedule-button {
    align-items: center;
    margin-right: 10pt;
    margin-left: auto;
    background-size: 110%; 
    background-image: url(../../img/planets/mars-text.png);
}

.day-schedule-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

.reflect-button {
    align-items: center;
    margin: 0 auto;
    background-size: 110%;;
    background-image: url(../../img/planets/earth-text.png);
}

.reflect-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

.month-schedule-button {
    margin-right: auto;
    margin-left: 20pt;
    align-items: center;
    background-position: 50% 50%;
    background-image: url(../../img/planets/jupiter-text.png);
}

.month-schedule-button:hover {
    transform: scale(1.1); /*Scale button on hover*/  
}

/*Home Button Styling*/
.home-button-container {
    width: 300px;
    height: 220px;
    cursor: pointer;
    margin-left: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container:hover .spaceship{
    filter: hue-rotate(180deg);
    width: 210px;
    height: 210px;
}

html{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/bg3.jpg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-container {
    display: flex;
    margin-right: 2%;
    flex-direction: row-reverse;
    width: 100%;
}