/*
Project Tracker Page Styles

Styleguide 3
*/

/*
Project Tracker

Styles for the project tracker container.

Styleguide 3.1.1
*/
.project-tracker {
    width: 65%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

/*
Project Count

Styles for the project count element.

Styleguide 3.1.2
*/
.project-count {
    position: relative;
    margin-top: -10%;
    margin-right: -68%;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blurred background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
Project Tracker Heading

Styles for the heading within the project tracker.

Styleguide 3.1.3
*/
.project-tracker h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
    width: 100%;
}

/*
Projects Container

Styles for the projects container.

Styleguide 3.2.1
*/
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

/*
Projects

Styles for the projects list.

Styleguide 3.2.2
*/
.projects {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column-reverse; /* Ensures projects are added at the bottom */
    overflow-y: auto; /* Make the project list scrollable */
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-height: 400px; /* Set a max height to the projects container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

/*
Project

Styles for individual project elements.

Styleguide 3.2.3
*/
.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    backdrop-filter: blur(10px); /* Blurred background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/*
Project Title

Styles for the project title.

Styleguide 3.2.4
*/
.project-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/*
Project Input Container

Styles for the container holding project inputs.

Styleguide 3.2.5
*/
.project-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /**gap: 20px;*/
    width: 80%;
    margin-top: 20px;
}

/*
Range Input

Styles for the range input.

Styleguide 3.3.1
*/
input[type="range"] {
    -webkit-appearance: none;
    width: 100%; /* Make the input take up remaining space */
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    box-sizing: border-box;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer; 
    border: none;
}

/*
Range Input with Progress Bar

Styles for the range input with a progress bar background.

Styleguide 3.3.2
*/
input[type="range"].progress-bar {
    background: linear-gradient(to right, red, yellow, green);
}

/*
Add Button

Styles for the add button.

Styleguide 3.4.1
*/
.add_button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/*
Remove Button

Styles for the remove button.

Styleguide 3.4.2
*/
.remove_button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    left: 90%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/*
Add Button Text

Styles for the text within the add button.

Styleguide 3.4.3
*/
.add_button span {
    font-size: 20px;
    position: relative;
    bottom: 2px;
    margin-left: 15px;
}

/*
Button Hover Effects

Hover effects for the add and remove buttons.

:hover    - Changes background color and text color on hover.

Styleguide 3.4.4
*/
.add_button:hover, .remove_button:hover {
    background-color: #B58B00;
    color: white;
    border-color: #B58B00;
}

/*
Button Container

Styles for the button container with flex layout and spacing.

Styleguide 3.4.5
*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px; /* Add a gap between the button container and the projects container */
    width: 100%;
}

/*
Home Menu Styling

Styles for the home menu container.

Styleguide 3.5.1
*/
.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50pt;
}

/*
Home Menu Button

Styles for buttons within the home menu.

Styleguide 3.5.2
*/
.home-menu button {    
    width: 140px;
    height: 140px;
    display: flex;
    margin-top: 20px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s ease; /*Smooth transition for scaling*/
}

/*
Day Schedule Button

Styles for the day schedule button with hover effects.

:hover    - Scales the button on hover.

Styleguide 3.5.3
*/
.day-schedule-button {
    align-items: center;
    margin-right: 10pt;
    margin-left: auto;
    background-size: 110%; 
    background-image: url(../../img/planets/mars-text.png);
}

.day-schedule-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

/*
Reflect Button

Styles for the reflect button with hover effects.

:hover    - Scales the button on hover.

Styleguide 3.5.4
*/
.reflect-button {
    align-items: center;
    margin: 0 auto;
    background-size: 110%;;
    background-image: url(../../img/planets/earth-text.png);
}

.reflect-button:hover {
    transform: scale(1.1); /*Scale button on hover*/
}

/*
Month Schedule Button

Styles for the month schedule button with hover effects.

:hover    - Scales the button on hover.

Styleguide 3.5.5
*/
.month-schedule-button {
    margin-right: auto;
    margin-left: 20pt;
    align-items: center;
    background-position: 50% 50%;
    background-image: url(../../img/planets/neptune-text.png);
}

.month-schedule-button:hover {
    transform: scale(1.1); /*Scale button on hover*/  
}

/*
Home Button Styling

Styles for the home button container with hover effects.

Styleguide 3.6.1
*/
.home-button-container {
    width: 300px;
    height: 220px;
    cursor: pointer;
    margin-left: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

/*
Home Button Container Spaceship

Styles for the spaceship within the home button container with hover effects.

:hover    - Changes filter and size on hover.

Styleguide 3.6.2
*/
.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container:hover .spaceship{
    filter: hue-rotate(180deg);
    width: 210px;
    height: 210px;
}

/*
HTML Styling

Styles for the html element to prevent horizontal scrolling.

Styleguide 3.7.1
*/
html{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}

/*
Body Styling

Styles for the body element, including background image and size settings.

Styleguide 3.7.2
*/
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/jupiter-light.jpg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/*
Main Container

Styles for the main container with flex layout.

Styleguide 3.8.1
*/
.main-container {
    display: flex;
    margin-right: 2%;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

/*
Modal Styling

Styles for modal windows.

Styleguide 3.9.1
*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/*
Modal Content

Styles for the content within modals.

Styleguide 3.9.2
*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

/*
Close Button

Styles for the close button in modals.

:hover    - Changes color on hover.

Styleguide 3.9.3
*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
Submit Button

Styles for submit buttons with hover and active effects.

:hover  - Changes background color and scales up on hover.
:active - Changes background color and scales down on active.

Styleguide 3.10.1
*/
.submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.submit:active {
    background-color: #004494;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: scale(1);
}

/*
Form Styling

Styles for forms, including label and input elements.

Styleguide 3.11.1
*/
form {
    display: flex;
    flex-direction: column;
}

/*
Label Styling

Styles for labels within forms.

Styleguide 3.11.2
*/
label {
    margin-bottom: 5px;
    font-weight: bold;
}

/*
Text Input and Textarea Styling

Styles for text inputs and textareas within forms.

Styleguide 3.11.3
*/
input[type="text"], input[type="datetime-local"], textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/*
Textarea Styling

Additional styles for textareas within forms.

Styleguide 3.11.4
*/
textarea {
    height: 100px;
    resize: vertical;
}

/*
Modal Title

Styles for the modal title.

Styleguide 3.12.1
*/
.modal-title {
    text-align: center;
}
