.project-count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #333;
}

.project-tracker h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    width: 100%;
}

.projects {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 400px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    position: absolute;
    left: 150px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('../image/spaceship-1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"].progress-bar {
    background: linear-gradient(to right, red, yellow, green);
}

.home-menu button {
    width: 140px;
    height: 140px;
    margin: 20px;
    display: flex;
    background-color: transparent; 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.add_button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.add_button:hover {
    background-color: #4c63ca;
    color: white;
    border-color: #4c63ca;
}

.reflect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 200px;
    background-position: 110%;
    background-image: url(../../img/planets/earth-text.png);
}

.reflect-button:hover {
    transform: scale(1.1);
}

.day-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 120px;
    background-position: 110%;
    background-image: url(../../img/planets/mars-text.png);
}

.day-schedule-button:hover {
    transform: scale(1.1);
}

.month-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 50px;
    background-position: 50% 50%;
    background-image: url(../../img/planets/neptune-text.png);
}

.month-schedule-button:hover {
    transform: scale(1.1); 
}

.home-button-container {
    width: 100px;
    height: 100px;
    background-color: transparent; 
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    right: 0;
    bottom: 0;
    left: 80px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container:hover {
    color: white; 
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(360deg);
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.home-button-container:hover .home-text {
    color: white;
}

html{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/jupiter-light.jpg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
}