/* reflection */
.reflect {
    width: 65%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto; /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.reflect-count {
    position: absolute;
    margin-right: -68%;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blurred background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reflect h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    width: 100%;
}

.reflect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

/* list of reflections added */
.previous-reflections {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column; /* Ensures reflections are added at the bottom */
    overflow-y: auto; /* Make the reflections list scrollable */
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-height: 400px; /* Set a max height to the reflections container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center; /* Center child elements */
}

table {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 10px; /* Gap between reflections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

tr, td, th {
    padding: 10px;
    text-align: left;
    background-color: white; /* Ensure background color for better readability */
    border-bottom: 1px solid #ddd; /* Add a subtle border to separate rows */
    border-top: 1px solid #ddd; /* Add a subtle border to separate rows */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* add and remove button */
.add-button, .remove-button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.add-button{
    margin-top:-110px
}
.add-button:hover, .remove-button:hover {
    background-color: #4c63ca;
    color: white;
    border-color: #4c63ca;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
    margin-bottom: 5%; /* Add a gap between the button container and the projects container */
    width: 50%;
}

/*Home Menu Styling*/
.home-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50pt;
    position: relative;
}

.home-menu button {    
    width: 140px;
    height: 130px;
    display: flex;
    margin-top: 20px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /*Smooth transition for scaling*/
}

.project-button {
    align-items: center;
    margin-left: 35pt;
    background-size: 100%; 
    background-image: url(../../img/planets/jupiter-text.png);
}

.project-button:hover {
    transform: scale(1.1); /*Scale button on hover*/  
}

.day-schedule-button {
    align-items: center;
    margin-left: 120pt;
    background-size: 100%;;
    background-image: url(../../img/planets/mars-text.png);
}

.day-schedule-button:hover {
    transform: scale(1.1);
}

.month-schedule-button {
    margin-right: auto;
    margin-left: 70pt;
    align-items: center;
    background-position: 50% 50%;
    background-image: url(../../img/planets/neptune-text.png);
}

.month-schedule-button:hover {
    transform: scale(1.1); 
}

/*Home Button Styling*/
.home-button-container {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 30%;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.home-button-container .spaceship {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform: rotate(270deg);
    transition: filter 0.3s ease;
}

.home-button-container:hover .spaceship {
    filter: hue-rotate(180deg);
    width: 210px;
    height: 210px;
}

html {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}

body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-image: url('../../img/backgrounds/earth.jpg');
    background-size: cover; /* Adjust the image to cover the whole background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-container {
    display: flex;
    margin-right: 2%;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Add gap between the home menu and the reflection containers */
    position: relative;
}

.sentiment-widget {
    display: none;
    justify-content: space-around;
    width: 50%;
    height: 60px;
    max-width: 600px;
    padding: 5px;
    border-radius: 15px;
    background-color: #74c2f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 32%;
    left:60%;
    transform: translate(-50%, -50%);
    overflow-x: auto;
}

.sentiment-widget label {
    cursor: pointer; 
}

.sentiment-widget img {
    width: 70px; 
    height: 70px; 
    display: block; 
    margin: 0 auto 10px; 
    transition: transform 0.3s ease; 
}

.sentiment-widget input[type="radio"] {
    display: none;
}

.sentiment-widget input[type="radio"]:checked + img {
    transform: scale(1.3); /* Scale up the image*/
}

.sentiment-widget input[type="radio"]:hover + img {
    transform: scale(1.3); /* Scale up the image*/
}

.date-cell {
    position: relative;
}

.delete-item {
    float: right;
    background-color: rgb(235, 206, 206);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.delete-item:hover {
    background-color: darkred;
}

.edit-item {
    float: inline-end;
    color: white;
    padding: 10px;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-item:hover {
    background-color: darkgrey;
}